Repository infmagic2047/pyeval: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8, sync-version

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

sync-version:
  name: Sync __version__ with package metadata
  entry: ./scripts/sync-version.py
  language: script
  pass_filenames: false

Print expression result using repr
  src/pyeval/user_shell.py
Due: black, isort, flake8

Fix user namespaces
  src/pyeval/user_shell.py
Due: black, isort, flake8

Update poetry version, this time for real
  pyproject.toml
Due: sync-version

Refactor undefined name finder and add tests
  pyproject.toml
  src/pyeval/code_transform/auto_import.py
  tests/test_auto_import_undefined_name_finder.py
Due: black, isort, flake8, sync-version

Add support for python 3.10 match-case syntax
  src/pyeval/code_transform/auto_import.py
  tests/test_auto_import_undefined_name_finder.py
Due: black, isort, flake8

Fix visiting keyword-only arguments
  src/pyeval/code_transform/auto_import.py
Due: black, isort, flake8

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  sync-version: any of: ^pyproject.toml|src/[^/]*/__init__.py$
